<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skeleton.demo.calendar.service.CalendarService">

    <resultMap id="calendarSelectMap" type="com.skeleton.demo.calendar.vo.CalendarVO">
           <result property="userId" column="USERID" jdbcType="VARCHAR"/>
           <result property="title" column="TITLE" jdbcType="VARCHAR"/>
        <result property="startDate" column="STARTDATE" jdbcType="VARCHAR"/>
        <result property="endDate" column="ENDDATE" jdbcType="VARCHAR"/>
        <result property="detail" column="DETAIL" jdbcType="VARCHAR"/>


    </resultMap>

    <insert id="addCalendar" parameterType="com.skeleton.demo.calendar.vo.CalendarVO">
        INSERT INTO CALENDAR(TITLE,STARTDATE,ENDDATE,USERID,DETAIL)
                VALUES('${title}','${startDate}','${endDate}','${userId}','${detail}')
    </insert>

    <select id="getCalendarList" resultMap="calendarSelectMap">
        SELECT * FROM yoon
    </select>

</mapper>