<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skeleton.demo.service.UserService">

    <resultMap id="userSelectMap" type="com.skeleton.demo.dto.UserDto">
           <result property="userId" column="userId" jdbcType="VARCHAR"/>
           <result property="password" column="password" jdbcType="VARCHAR"/>

    </resultMap>

    <insert id="addUser" parameterType="com.skeleton.demo.dto.UserDto">
        INSERT INTO yoon(userId,password) values('${userId}','${password}')

    </insert>

    <select id="getUserList" resultMap="userSelectMap">
        SELECT * FROM yoon
    </select>

</mapper>