<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skeleton.demo.user.service.UserService">

    <resultMap id="userSelectMap" type="com.skeleton.demo.user.dto.UserDto">
           <result property="userId" column="userId" jdbcType="VARCHAR"/>
           <result property="password" column="password" jdbcType="VARCHAR"/>

    </resultMap>

    <insert id="addUser" parameterType="com.skeleton.demo.user.dto.UserDto">
        INSERT INTO TESTUSER(userId,password,username,email) values('${userId}','${password}','${username}','email')

    </insert>

    <select id="getUserList" resultMap="userSelectMap">
        SELECT * FROM TESTUSER
    </select>

</mapper>